<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/satellite_2.jpeg">
    <MissionCommand msg="Welcome to Mission Control"/>
  </div>
</template>

<script>
import MissionCommand from "./components/MissionCommand";

export default {
  name: 'App',
  components: {
    MissionCommand
  }
}
</script>

<style>
  @import './assets/styles/wordsearch.css';
</style>
