<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>Current Alerts</h2>
    <div><span class="error-text">{{errorData}}</span></div>
  </div>
</template>

<script>
  import Data from '!raw-loader!../assets/data.txt'
  import _ from 'lodash';
  import moment from 'moment'
export default {
  name: 'MissionCommand',
  data: function () {
    return {
      errorData: []
    }
  },
  created: function() {
    this.compileData();
  },
  props: {
    msg: String
  },
  methods: {
    compileData() {
      const data = [];
      const timestamp = [];
      let warnings = []
      let result =[]
      let groupedWarning = []
      let validWarning = []
      const rawData = Data.replaceAll('\r', '')
      const lines = rawData.split("\n")
      const heading = ["Timestamp", "SateliteID", "RedHighLimit", "YellowHighLimit", "YellowLowLimit", "RedLowLimit", "RawValue", "Component"]

      splitRows();
      mapData();
      formatData();
      filterByWarning();


      function splitRows() {
        for (var k = 1; k < lines.length; k++) {
          const rowData = lines[k].split('|');
          data.push(rowData);
        }
      }

      function mapData() {
        result = data.map(function (row) {
          return row.reduce(function (result, field, index) {
            result[heading[index]] = field;
            return result;
          }, {});
        })
      }

      function formatData() {
        for (var i = 0; i < result.length; i++) {
          result[i].SateliteID = parseInt(result[i].SateliteID, 10)
          result[i].RedHighLimit = parseInt(result[i].RedHighLimit, 10)
          result[i].RedLowLimit = parseInt(result[i].RedLowLimit, 10)
          result[i].YellowHighLimit = parseInt(result[i].YellowHighLimit, 10)
          result[i].YellowLowLimit = parseInt(result[i].YellowLowLimit, 10)
          result[i].RawValue = parseInt(result[i].RawValue, 10)
          const time = (result[i].Timestamp).replace(/^(.{4})(.{2})(.*)$/, '$1-$2-$3')
          result[i].Timestamp = moment(time).format('MM/DD/YYYY hh:mm:ss:ms');
        }
      }

      function filterByWarning() {
        warnings = result.filter(obj => obj.RawValue >= obj.RedHighLimit || obj.RawValue <= obj.RedLowLimit)
        groupedWarning = _.groupBy(warnings, 'SateliteID')
        const filterWarning = Object.entries(groupedWarning)
        filterWarning.forEach(([, value]) => {
          if (value.length >= 3) {
            const error1 = value.filter(obj => obj.Component === 'TSTAT' && obj.RawValue >= obj.RedHighLimit)
            Object.assign(error1, {warning: "RED HIGH"})
            validWarning.push(error1)
            const error2 = value.filter(obj => obj.Component === 'BATT' && obj.RawValue <= obj.RedLowLimit)
            Object.assign(error2, {warning: "RED LOW"})
            validWarning.push(error2)
          }
        })
      }

      for (var p = 0; p < validWarning.length; p++) {
            if (validWarning[p].length >= 3) {
              for (var j = 0; j < validWarning[p].length; j++) {
                const compareDate = validWarning[p][j].Timestamp;
                timestamp.push(compareDate);
              }
              const firstDate = timestamp.map(d => moment(d))
              const maxDate = moment.max(firstDate).format('MM/DD/YYYY hh:mm:ss')
              const maxDateUnix = moment(maxDate, 'hh:mm:ss').unix()
              const minDate = moment.min(firstDate).format('MM/DD/YYYY hh:mm:ss');
              const minDateUnix = moment(minDate, 'hh:mm:ss').unix()
              var diff = (maxDateUnix - minDateUnix)
              if (diff <= 300) {
                let finalData = {}
                finalData.satelliteId = validWarning[p][0].SateliteID
                finalData.severity = validWarning[p].warning
                finalData.component = validWarning[p][0].Component
                finalData.timestamp = maxDate
                this.errorData.push(finalData)
              }
            }
          }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
